<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
  <main id="main-holder">
    <h1 id="reg-header">Registration</h1>
    <form id="reg-form">
      <input type="text" name="First Name" id="fname-field" class="reg-form-field" placeholder="First Name"><p></p>
      <input type="text" name="Last Name" id="lname-field" class="reg-form-field" placeholder="Last Name"><p></p>
      <input type="text" name="username" id="username-field" class="reg-form-field" placeholder="Username"><p>
      <input type="password" name="password" id="password-field" class="reg-form-field" placeholder="Password"><p>
      
        <a href="/"> <input type="button" value="Login" id="login-form-submit"> </a>
      <input type="button" value="Register" id="reg-form-submit">
    </form>
  </main>
</body>
</html>